<h5><a href="/">Return to Homepage</a></h5>
<h1>Log In</h1>

<div class="form-container">
  <form action="/login" method="post">
    <div class="form-group">
      <label for="email">Email Address:</label> 
      <input id="email" name="user[email]" type="email" placeholder="Email"  class="form-control" required/>
    </div>  

    <div class="form-group">
      <label for="password">Password:</label> 
      <input id="password" name="user[password]" placeholder="Password"  type="password" class="form-control" required/>
    </div> 

    <% if flash[:error] %>
    <div class="text-danger">
        <p class="error"><%= flash[:error] %></p>
        <p> <% flash.discard %> </p>
    </div>
<% end %>

    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
</div>

<br>

<p>Don't have an account? <a href="/users/new">create one</a> 