<h1>So what's the joke?</h1>





<div class="form-container">
  <form action="/jokes" method="post">
    <div class="form-group">
      <label for="title">Joke Title:</label> 
      <input id="title" name="joke[title]" type="text" placeholder="Joke Title" class="form-control" required/>
    </div>
      <div class="form-group">
      <label for="setup">Setup:</label> 
      <input id="setup" name="joke[setup]" type="textarea" placeholder="For example: Why couldn't the bicycle stand up by itself?" class="form-control" required/>
    </div>

    <div class="form-group">
      <label for="punch-line">Punchline:</label> 
      <input id="punch-line" name="joke[punchline]" type="textarea" placeholder="For example: It was two tired!" class="form-control" required/>
    </div>
    <input type="submit" value="Create Joke" class="btn btn-primary">
  </form>
</div>

<br>
<h5> <a href="/users/<%=session[:id]%>"> Cancel and return to your profile </a> </h5>

