<h1>Insert the form to create a new instance of your model.</h1>

<form action="/" method="post">
  <label for="name">Club name:</label> 
  <input id="name" name="name" type="text" />

  <label for="tag-line">Club Tag Line:</label> 
  <input id="tag-line" name="tag-line" type="textarea" />

  <label for="member-count">How many members are in this club currently?:</label> 
  <input id="member-count" name="member-count" type="number" min="5" max="100" />
  
  <input type="submit" value="Submit">
</form>