<h1>Insert the form to create a new instance of your model.</h1>

<form action="/" method="post">
  <label for="title">Joke Title:</label> 
  <input id="title" name="title" type="text" />

  <label for="setup">Setup:</label> 
  <input id="setup" name="setup" type="textarea" />

  <label for="punch-line">Punchline:</label> 
  <input id="punch-line" name="punch-line" type="textarea" />
  
  <input type="submit" value="Submit">
</form>