<h1>So what's the joke?</h1>



<form action="/jokes" method="post">
  <label for="title">Joke Title:</label> 
  <input id="title" name="joke[title]" type="text" />

  <label for="setup">Setup:</label> 
  <input id="setup" name="joke[setup]" type="textarea" />

  <label for="punch-line">Punchline:</label> 
  <input id="punch-line" name="joke[punchline]" type="textarea" />
  
  <input type="submit" value="Create Joke">
</form>

<br>
<h5> <a href="/users/<%=session[:id]%>"> Cancel and return to your profile </a> </h5>

