<h1>Insert the form to create a new instance of your model.</h1>

<form action="/jokes" method="post">
  <label for="title">Joke Title:</label> 
  <input id="title" name="joke[title]" type="text" />

  <label for="setup">Setup:</label> 
  <input id="setup" name="joke[setup]" type="textarea" />

  <label for="punch-line">Punchline:</label> 
  <input id="punch-line" name="joke[punchline]" type="textarea" />
  
  <input type="submit" value="Create Joke">
</form>