<h1>This is the show page for an individual instance of your model.</h1>

  <div>
    <a href="/jokes/<%= @joke.id %>/edit"><button>Edit</button></a> 
    <form method="post" action="/jokes/<%= @joke.id %>" style="display: inline-block;">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete" />
    </form>
  </div>
