<div class="container">
  <header><img src="images/random-jokes.png" class="img-responsive main-image" width="150" height="150"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>The Random Jokes App</h2>

    <div class="content">

      <p>Wecome to the radom jokes app!</p>
      <p>Here, you can <a href="/users/new">create an account</a> or <a href="/login">log in</a> if you already have one, and add your favorite jokes to your archive!</p>
      <p>You would also be able to view the jokes other users have collected</p>
      <p>Please be curteous and respectful. I hope you enjoy the experience</p>
      <p>You can find the repository for this code  <a href="https://github.com/tbenis/random-jokes.git" target="_blank">here</a>.</p>
    </div>

    <div class="sidebar" style="box-sizing:unset;">
      <h3>Environment</h3>
      <ul>
        <li><b>Creator:</b> Benis Tambe</li>
        <li><b>Current Date:</b> <%=  DateTime.now %></li>
        <li><b>Technologies used:</b> Ruby, Sinatra, HTML, CSS, REST, Activerecord, SQL, MVC Architecture</li>
      </ul>
    </div>

  </div>
</div>
